.card{
    margin : 8px;
    padding: 10px;
    border: darkolivegreen 3px solid;
    border-radius: 10px;
    background-color:#D2B48C;
    font-style: italic;
    width: 43vh;
    justify-content: center;
}
.card p{
    color: darkslategrey;
    font-weight: bolder;
}

.CharacterGallery{
    display: flex;
    justify-content: center;
    flex-flow: wrap;

}
input {
    border: 2px solid darkslategray;
    margin: 15px;
    font-size: 15px;
    color: darkslategray;
    font-weight: bold;
}
input:hover{
    background-color: sandybrown;
}
h2{
    color: darkslategray;
}
p {
    color:whitesmoke;
}